#vvb
{
    max-width: 1200px;
    margin:auto;
}
#vvb label
{
    font-size: 17px;
    color:#666666;
}
#vvb label.validation-error
{
    font-weight: bold;
    color: red;
}
#vvb .vvb_dates
{
    float: left;
    width: -webkit-calc(-webkit-calc(100% / 3) * 2);
    width: -moz-calc(-moz-calc(100% / 3) * 2);
    width: calc(calc(100% / 3) * 2);
    width: -webkit-calc((100% / 3) * 2);
    width: -moz-calc((100% / 3) * 2);
    width: calc((100% / 3) * 2);
    margin-bottom: 40px;
}
#vvb .vvb_dates .vvb_date
{
    float: left;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
}
#vvb .vvb_dates .vvb_date input[type=date]
{
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#vvb .vvb_dates .vvb_date.vvb_date_arrival
{
    margin-right: 20px;
}
#vvb .vvb_dates .vvb_date.vvb_date_depart
{
    margin-right: 0;
}
#vvb .vvb_rooms_controls
{
    float: left;
    width: -webkit-calc(-webkit-calc(100% / 3) * 1);
    width: -moz-calc(-moz-calc(100% / 3) * 1);
    width: calc(calc(100% / 3) * 1);
    width: -webkit-calc((100% / 3) * 1);
    width: -moz-calc((100% / 3) * 1);
    width: calc((100% / 3) * 1);
    margin-bottom: 40px;
}
#vvb .vvb_rooms_controls label
{
    display: block;
}
#vvb .vvb_rooms_controls input[type=number],
#vvb .vvb_rooms_controls input[type=text]
{
    font-size: 18px;
    line-height: 30px;
    width: 3em;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:10px;
    display: inline-block;
}
#vvb .vvb_rooms_controls input[type=button]
{
    border: 1px solid #666666;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    padding: .3em 1em;
    -webkit-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -o-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -moz-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    margin-right:10px;
    display: inline-block;
}
#vvb .vvb_rooms_controls input[type=button]:last-of-type{
    margin-right:0;
}

#vvb .vvb_rooms
{
    clear: both;
    margin-bottom: 40px;
}
#vvb .vvb_rooms .vvb_room
{
    margin-bottom: 10px;
}
#vvb .vvb_rooms .vvb_room .people
{
    display: inline-block;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
}
#vvb .vvb_rooms .vvb_room .people > label
{
    font-weight: bold;
    margin-right: 20px;
    border-bottom: 1px solid #666666;
}
#vvb .vvb_rooms .vvb_room .people .adults,
#vvb .vvb_rooms .vvb_room .people .children
{
    width:49%;
    display:inline-block;
}
#vvb .vvb_rooms .vvb_room .people select
{
    font-size: 18px;
    line-height: 30px;
    width: 2em;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#vvb .vvb_rooms .vvb_room .ages
{
    display: inline-block;
    width: -webkit-calc(-webkit-calc(-webkit-calc(100% / 3) * 2) - 4px);
    width: -moz-calc(-moz-calc(-moz-calc(100% / 3) * 2) - 4px);
    width: calc(calc(calc(100% / 3) * 2) - 4px);
    width: -webkit-calc(((100% / 3) * 2) - 4px);
    width: -moz-calc(((100% / 3) * 2) - 4px);
    width: calc(((100% / 3) * 2) - 4px);
}
#vvb .vvb_rooms .vvb_room .age
{
    display: inline-block;
    width: -webkit-calc(100% / 4);
    width: -moz-calc(100% / 4);
    width: calc(100% / 4);
}
#vvb .vvb_rooms .vvb_room .ages .age select
{
    font-size: 18px;
    line-height: 30px;
    width: 2em;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#vvb .vvb_submit
{
    margin-bottom: 30px;
}
#vvb .vvb_submit input[type=submit]
{
    border: 1px solid #666666;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    padding: .3em 1em;
    -webkit-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -o-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -moz-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
}

#vvb .vvb_submit label
{
    display: block;
}
@media (max-width:768px)
{
    #vvb .vvb_dates
    {
        width: 100%;
    }
    #vvb .vvb_dates .vvb_date
    {
        width: 100%;
    }
    #vvb .vvb_dates .vvb_date.vvb_date_arrival,
    #vvb .vvb_dates .vvb_date.vvb_date_depart
    {
        margin-right: 0;
    }
    #vvb .vvb_rooms_controls
    {
        width: 100%;
    }
}